/*================Fonts===================*/
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@,400;,700;,500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #4b5862;
}

h1,
h2,
h3,
h4 {
  color: #1f3f5b;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: 2.25rem;
  text-align: center;
}

.section__subtitle {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 1590px;
  margin-left: 3rem;
  margin-right: 3rem;
  position: relative;
}

/* hero section */

/* main section */

/* Phone section */

/* footer */
